<md-sidenav 
    md-disable-backdrop
    layout="row"
    class="md-sidenav-right" 
    md-component-id="manage"
    md-whiteframe="4">
    
    <md-content 
        layout="row" 
        flex='85'>
        
        <md-tabs 
            md-colors="{background: 'default-primary-100'}"
            md-selected="$ctrl.selectedTab"
            flex>
            <md-tab>
                <md-tab-label>
                    tags
                </md-tab-label>
                <md-tab-body>
                    <tag-types></tag-types>
                </md-tab-body>
            </md-tab>
            <md-tab>
                <md-tab-label>
                    groups
                </md-tab-label>
                <md-tab-body label="groups">
                    <groups></groups>
                </md-tab-body>
            </md-tab>
            <md-tab>
                <md-tab-label>
                    projects
                </md-tab-label>
                <md-tab-body label="projects">
                    <projects></projects>
                </md-tab-body>
            </md-tab>
        </md-tabs>
        
    </md-content>
    
    
</md-sidenav>
<manage-menu
    style="z-index: 100"
    layout="row"></manage-menu>