<md-sidenav 
    md-disable-backdrop
    layout="row"
    class="md-sidenav-right" 
    md-component-id="manage">
    
    <md-content layout="row">
        <md-toolbar 
            flex='15'
            layout="column">
            <md-button
                class="md-icon-button">
                <md-icon class="material-icons">
                    label
                </md-icon>
            </md-button>
            <md-button
                class="md-icon-button">
                <md-icon class="material-icons">
                    group_work
                </md-icon>
            </md-button>
            <md-button
                class="md-icon-button">
                <md-icon class="material-icons">
                    folder
                </md-icon>
            </md-button>
        </md-toolbar>
        <md-tabs
            flex-direction="vertical">
            <md-tab label="tags">
                <p>tags</p>
            </md-tab>
            <md-tab label="groups">
                <p>tag groups</p>
            </md-tab>
            <md-tab label="projects">
                <projects></projects>
            </md-tab>
        </md-tabs>
    </md-content>
    
    
</md-sidenav>
