<form name="tagForm" ng-submit="$ctrl.add()">
    <jd-modal layout="column">
        <jd-modal-title>tag type</jd-modal-title>
        <jd-modal-body layout="column" layout-padding>
            <md-input-container>
                <label>tag type name</label>
                <input
                    name="tagName"
                    required
                    ng-model="$ctrl.editingCopy.name"
                    aria-label="name"/>
                <div ng-messages="tagForm.tagName.$error">
                    <div ng-message="required">This field is required.</div>
                </div>
            </md-input-container>
            
            <div layout="row">
                <md-input-container
                    flex='90'>
                    <label>tag type group</label>
                    <md-select 
                        ng-model="$ctrl.editingCopy.tag_type_group_id"
                        aria-label="tag type groups"
                        md-on-close="$ctrl.changeGroup()">
                          <md-option value="">no group</md-option>
                          <md-option 
                            ng-repeat="group in $ctrl.tagGroups" 
                            value="{{group.id}}">
                                {{group.name}}
                          </md-option>
                    </md-select>
                </md-input-container>
                <span
                    class="color-swatch"
                    ng-if="$ctrl.disableColorPicker"
                    style="background-color: {{$ctrl.editingCopy.color}}"></span>
                <div
                    ng-if="!$ctrl.disableColorPicker"
                    md-color-picker
                    ng-model="$ctrl.editingCopy.color"
                    label="tag color"
                    default="#000000"
                    random="true"
                    md-color-generic-palette="true"
                    md-color-history="false"
                    md-color-clear-button="false"
                    open-on-input="true"
                    md-color-alpha-channel="false"
                    md-color-spectrum="false"
                    md-color-sliders="false"
                    md-color-hsl="false"
                    md-color-rgb="false"
                    md-color-default-tab="genericPalette"
                ></div>
            </div>
        </jd-modal-body>
        <jd-modal-buttons
            layout="row" 
            flex 
            layout-align="center center">
            <md-button 
                ng-if="$ctrl.tagType"
                ng-click="$ctrl.delete()"
                class="md-icon-button">
                <md-icon class="material-icons">
                    delete
                </md-icon>
            </md-button>
            <span flex></span>
            <md-button
                type="submit"
                ng-disabled="$ctrl.disableSave()"
                aria-label="add tag type"
                class="md-raised md-accent">
                save
            </md-button>
        </jd-modal-buttons>
    </jd-modal>
</form>