main {
    md-content {
        overflow-x: hidden;
    }
    
    .truncate {
        text-overflow: ellipsis;
        overflow: hidden;
    }
    
    .tab-title {
        text-transform: uppercase;
    }
}