<spec-menu
  spec="::$ctrl.spec"></spec-menu>
<tag-menu 
  ng-if="$ctrl.favorite('tags')"
  spec="::$ctrl.spec"></tag-menu>
<md-icon 
  ng-click="$ctrl.addChildren($event)"
  ng-if="$ctrl.favorite('add children')"
  class='material-icons'>add</md-icon>
<md-icon
  ng-click="$ctrl.addTicket($event)"
  ng-if="$ctrl.favorite('add link')"
  class='material-icons'>link</md-icon>
<comment-menu 
  ng-if="$ctrl.favorite('comment')"
  spec="::$ctrl.spec"></comment-menu>
<md-icon
  ng-click="$ctrl.setBreadCrumbs()"
  ng-if="$ctrl.favorite('expand')"
  class='material-icons'>fullscreen</md-icon>
<md-icon
  ng-click="$ctrl.bookmark()"
  ng-if="$ctrl.favorite('bookmark')"
  class='material-icons'>bookmark</md-icon>
<md-icon
  ng-click="$ctrl.delete($event)"
  ng-if="$ctrl.favorite('delete')"
  class='material-icons'>delete</md-icon>