<div layout="column" class="sidebar-tab" flex layout-fill>
  <div layout="column" flex class="sidebar-content" layout-fill>
    <md-subheader class="md-no-sticky">
      <p class="md-body-2">
      <md-icon class="material-icons">
            label
        </md-icon>
        Tag types
      </p>
    </md-subheader>
    <md-list 
      class="md-dense"
      layout-padding>
      <section ng-repeat="tag_type_group in $ctrl.tagTypes">
        <md-subheader 
          layout="row"
          layout-align="end center"
          class="tab-title"
          ng-if="!tag_type_group.name">
          ungrouped
        </md-subheader>
        <md-subheader 
          layout="row"
          layout-align="end center"
          class="tab-title"
          ng-if="tag_type_group.name"
          ng-bind="tag_type_group.name">
        </md-subheader>
        <md-list-item 
          ng-repeat="tag_type in tag_type_group.tag_types"
          ng-mouseenter="tag_type.userMouseover=true"
          ng-mouseleave="tag_type.userMouseover=false"
          aria-label="edit tag type"
          ng-click="$ctrl.parent.canWrite ? $ctrl.edit(tag_type, $event) : undefined">
          <tag tag="tag_type"></tag>
          <md-icon 
            ng-if="$ctrl.parent.canWrite"
            ng-style="{'visibility': tag_type.userMouseover?'visible':'hidden'}"
            class="material-icons md-secondary">
            edit
          </md-icon>
        </md-list-item>
      </section>
      <section
        ng-if="$ctrl.deleted.length">
        <md-subheader 
          layout="row"
          layout-align="end center"
          class="tab-title">
          deleted
        </md-subheader>
        <md-list-item 
          ng-mouseenter="tag_type.userMouseover=true"
          ng-mouseleave="tag_type.userMouseover=false"
          aria-label="restore tag type"
          ng-click="$ctrl.parent.canWrite ? $ctrl.restore(tag_type) : undefined"
          ng-repeat="tag_type in $ctrl.deleted">
          <tag tag="tag_type"></tag>
          <md-icon
            ng-if="$ctrl.parent.canWrite"
            ng-style="{'visibility': tag_type.userMouseover?'visible':'hidden'}"
            class="material-icons md-secondary">
              restore
          </md-icon>
        </md-list-item>
      </section>
      
      <md-list-item
        ng-if="!$ctrl.tagTypes.length">
        <p class="no-items">You have no tag types.</p>
      </md-list-item>
    </md-list>
  </div>
  <div layout="column" flex='10' layout-align="center stretch">
    <md-button 
      class="md-primary md-raised add-button"
      ng-if="$ctrl.parent.canWrite"
      aria-label="add tag type" 
      ng-click="$ctrl.add($event)">
      add tag type
      <md-icon class="material-icons">add</md-icon>
    </md-button>
  </div>
</div>