<sidebar-menu
    layout="row"></sidebar-menu>
 <md-sidenav
    layout="row"
    class="md-sidenav-left"
    md-component-id="left"
    md-is-open="true"
    md-disable-backdrop
    md-whiteframe="4">
    
    <md-content 
        layout="row" 
        flex
        flex-offset='15'
        md-colors="{background: 'default-primary-100'}">
        
        <md-tabs 
            md-colors="{background: 'default-primary-100'}"
            md-selected="$ctrl.selectedTab"
            flex>
            <md-tab>
                <md-tab-label>
                    filter
                </md-tab-label>
                <md-tab-body>
                    <filter></filter>
                </md-tab-body>
            </md-tab>
            <md-tab>
                <md-tab-label>
                    bookmarks
                </md-tab-label>
                <md-tab-body>
                    <bookmarks></bookmarks>
                </md-tab-body>
            </md-tab>
            <md-tab>
                <md-tab-label>
                    tags
                </md-tab-label>
                <md-tab-body>
                    <tag-types></tag-types>
                </md-tab-body>
            </md-tab>
            <md-tab>
                <md-tab-label>
                    groups
                </md-tab-label>
                <md-tab-body>
                    <groups></groups>
                </md-tab-body>
            </md-tab>
            <md-tab>
                <md-tab-label>
                    projects
                </md-tab-label>
                <md-tab-body>
                    <projects></projects>
                </md-tab-body>
            </md-tab>
            <md-tab>
                <md-tab-label>
                    users
                </md-tab-label>
                <md-tab-body>
                    <users></users>
                </md-tab-body>
            </md-tab>
        </md-tabs>
        
    </md-content>
    
</md-sidenav>