sidebar {
    overflow: hidden;;
}

sidebar:hover { 
    overflow-y: auto;
}

sidebar {
    
    md-list-item {
        padding: 0px !important;
    }
    
    p.truncate {
        max-width: 200px;
    }
    
    md-tabs-wrapper {
        display: none;
    }
    
    md-tabs-content-wrapper {
        top: 0px;
    }
    
    .material-icons {
        font-size: 20px;
    }

    .very-dense {
        margin: 0px;
        height: 30px;
    }
    
    md-list.md-dense md-list-item, md-list.md-dense md-list-item ._md-list-item-inner {
        min-height: 0px;
    }
    
    .tag-icon {
        margin-right: 20px;
    }
    
    .ticket {
        color: midnightblue;
    }
    
    .tag-group-name {
        padding-top: 10px;
        max-width: 275px !important;
        text-align: right;
    }
    
    md-sidenav {
        width: 400px;
    }
    
    sidebar-menu {
        width: 70px;
    }

}