sidebar {
    
    .sidebar-tabs {
        font-size: small;
    }
    
    .sidebar-tab {
        margin-right: 20px;
        padding-top: 10px;
    }
    
    md-tab-content {
        overflow: hidden;
        
        &:hover {
            overflow-y: overlay;
        }
    }
    
    md-list-item {
        padding: 0px !important;
    }
    
    p.truncate {
        max-width: 175px;
    }
    
    md-tabs-wrapper {
        display: none;
    }
    
    md-tabs-content-wrapper {
        top: 0px;
    }
    
    .material-icons {
        font-size: 20px;
    }

    .very-dense {
        margin: 0px;
        height: 30px;
    }
    
    md-list.md-dense md-list-item, md-list.md-dense md-list-item ._md-list-item-inner {
        min-height: 0px;
    }
    
    .tag-icon {
        margin-right: 20px;
    }
    
    .ticket {
        color: midnightblue;
    }
    
    .tag-group-name {
        padding-top: 10px;
        padding-right: 22px;
        max-width: 275px !important;
        text-align: right;
    }
    
    .md-sidenav-left {
        width: 320px;
        margin-left: 40px;
    }
    
    sidebar-menu {
        width: 70px;
    }
    
    .no-items {
        padding-left: 16px;
    }
    
}