<sidebar-menu
    layout="row"></sidebar-menu>
 <md-sidenav
    layout="row"
    class="md-sidenav-left"
    md-component-id="left"
    md-is-open="true"
    md-colors="{background:'grey-50'}"
    md-disable-backdrop>
    
    <md-content 
        layout="row" 
        flex
        flex-offset='15'>
        
        <md-tabs 
            md-colors="{background:'grey-50'}"
            class="sidebar-tabs"
            md-selected="$ctrl.selectedTab"
            flex>
            <md-tab>
                <md-tab-label>
                    filter
                </md-tab-label>
                <md-tab-body>
                    <filter></filter>
                </md-tab-body>
            </md-tab>
            <md-tab>
                <md-tab-label>
                    bookmarks
                </md-tab-label>
                <md-tab-body>
                    <bookmarks></bookmarks>
                </md-tab-body>
            </md-tab>
            <md-tab>
                <md-tab-label>
                    tags
                </md-tab-label>
                <md-tab-body>
                    <tag-types layout="column" layout-fill></tag-types>
                </md-tab-body>
            </md-tab>
            <md-tab layout="row">
                <md-tab-label>
                    groups
                </md-tab-label>
                <md-tab-body layout="row" layout-fill>
                    <groups layout="column" layout-fill></groups>
                </md-tab-body>
            </md-tab>
            <md-tab>
                <md-tab-label>
                    projects
                </md-tab-label>
                <md-tab-body>
                    <projects layout="column" layout-fill></projects>
                </md-tab-body>
            </md-tab>
            <md-tab>
                <md-tab-label>
                    users
                </md-tab-label>
                <md-tab-body>
                    <users layout="column" layout-fill></users>
                </md-tab-body>
            </md-tab>
            <md-tab>
                <md-tab-label>
                    user settings
                </md-tab-label>
                <md-tab-body>
                    <user-settings></user-settings>
                </md-tab-body>
            </md-tab>
        </md-tabs>
        
    </md-content>
    
</md-sidenav>