jd-modal {
    .md-color-picker-input-container {
        md-input-container {
            display: none;
        }
    }
    
    .md-color-picker-preview {
        height: 40px !important;
        width: 40px !important;
        top: 0px !important;
    }
    
    .modal-title{
        text-transform: uppercase;
    }
}