<md-menu
  md-position-mode="target-right target">
    <md-icon 
        md-menu-origin 
        aria-label="comment" 
        ng-click="$ctrl.openCommentMenu($mdOpenMenu, $event)"
        class="menu-button material-icons">comment</md-icon>
  <md-menu-content 
    class="comment-menu"
    width="4">
        <md-menu-item>
            <form ng-submit="$ctrl.add()">
              <input 
                md-autofocus
                ng-model="$ctrl.text"
                type="text"
                placeholder="Comment.."
                class="add-comment-input">
            </form>
        </md-menu-item>
      <md-list
        class="md-dense" 
        ng-if="$ctrl.hasComments()">
            <md-subheader
                ng-if="$ctrl.spec.grouped_comments_json.false.length">
                Unresolved</md-subheader>
            <md-list-item 
                ng-repeat="comment in $ctrl.spec.grouped_comments_json.false"
                class="md-3-line md-long-text">
                <md-menu-item
                    md-prevent-menu-close="md-prevent-menu-close"
                    ng-click="$ctrl.resolve(comment)" 
                    aria-label="resolve">
                    <md-icon 
                        ng-if="!comment.user.image"
                        class="no-image material-icons md-avatar">
                        account_circle</md-icon>
                    <img 
                        ng-if="comment.user.image"
                        ng-src="{{comment.user.image}}" 
                        class="menu-avatar md-avatar"/>
                    <div class="md-list-item-text">
                        <p class="comment-text" ng-bind="comment.text"></p>
                        <p ng-bind="comment.user.name">
                        <p ng-bind="$ctrl.formatTime(comment)"></p>
                    </div>
                </md-menu-item>
            </md-list-item>
            <md-subheader
                ng-if="$ctrl.spec.grouped_comments_json.true.length">Resolved</md-subheader>
            <md-list-item 
                ng-repeat="comment in $ctrl.spec.grouped_comments_json.true"
                class="md-3-line md-long-text">
                <md-menu-item>
                    <md-icon 
                        ng-if="!comment.user.image"
                        class="no-image material icons md-avatar">
                        account_circle</md-icon>
                    <img 
                        ng-if="comment.user.image"
                        ng-src="{{comment.user.image}}" 
                        class="menu-avatar md-avatar"/>
                    <div class="md-list-item-text">
                        <p class="comment-text" ng-bind="comment.text"></p>
                        <p ng-bind="comment.user.name">
                        <p ng-bind="$ctrl.formatTime(comment)"></p>
                    </div>
                </md-menu-item>
            </md-list-item>
        </md-list>
        <md-menu-item
            ng-if="!$ctrl.hasComments()">
            <p class="no-comments" flex>
                This spec has no comments.
            </p>
        </md-menu-item>
       
  </md-menu-content>
</md-menu>