specs {
    
    overflow-y: scroll;
    
    ol {
        list-style-type: none;
    }
    
    .angular-ui-tree-placeholder {
        background: #f0f9ff;
        border: 2px dashed #bed2db;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        width: 600px;
        padding-top: 5px;
        margin-left: 25px;
    }
    
    #top{
        display: none;
    }
}