specs {
    
    overflow-y: scroll;
    
    ul {
        list-style-type: none;
        margin: 0px;
    }
    
    .angular-ui-tree-placeholder {
        background: #EDE7F6;
        border: 2px dashed #B39DDB;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        width: 600px;
        padding-top: 5px;
        margin-left: 30px;
    }
    
    #top{
        display: none;
    }
    
    .dragged {
      position: absolute;
      opacity: 0.5;
      z-index: 2000;
    }
    
    ul.sortable li.placeholder {
      position: relative;
      background: #EDE7F6;
      border: 2px dashed #B39DDB;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      width: 600px;
      height: 30px;
      padding-top: 5px;
      margin-left: 30px;
    }
    
}