<md-toolbar 
    md-colors="{background: 'default-primary-300'}"
    layout="column"
    class="md-whiteframe-5dp">
    <md-button
        ng-click="$ctrl.setTab($ctrl.index.filter)"
        class="md-icon-button"
        ng-class="{'md-accent': $ctrl.currentTab($ctrl.index.filter)}">
        <md-icon class="material-icons">
            filter_list
        </md-icon>
        <md-tooltip md-direction="right">
            filter
        </md-tooltip>
    </md-button>
    <md-button
        ng-click="$ctrl.setTab($ctrl.index.bookmarks)"
        class="md-icon-button"
        ng-class="{'md-accent': $ctrl.currentTab($ctrl.index.bookmarks)}">
        <md-icon class="material-icons">
            bookmark
        </md-icon>
        <md-tooltip md-direction="right">
            bookmarks
        </md-tooltip>
    </md-button>
    <md-icon 
        class="icon-header material-icons">
        build
    </md-icon>
    <md-button
        ng-click="$ctrl.setTab($ctrl.index.tags)"
        class="md-icon-button"
        ng-class="{'md-accent': $ctrl.currentTab($ctrl.index.tags)}">
        <md-icon class="material-icons">
            label
        </md-icon>
        <md-tooltip md-direction="right">
            tags
        </md-tooltip>
    </md-button>
    <md-button
        ng-click="$ctrl.setTab($ctrl.index.groups)"
        class="md-icon-button"
        ng-class="{'md-accent': $ctrl.currentTab($ctrl.index.groups)}">
        <md-icon class="material-icons">
            folder
        </md-icon>
        <md-tooltip md-direction="right">
            tag groups
        </md-tooltip>
    </md-button>
    <md-button
        ng-click="$ctrl.setTab($ctrl.index.projects)"
        class="md-icon-button"
        ng-class="{'md-accent': $ctrl.currentTab($ctrl.index.projects)}">
        <md-icon class="material-icons">
            description
        </md-icon>
        <md-tooltip md-direction="right">
            projects
        </md-tooltip>
    </md-button>
    
    <md-icon 
        class="icon-header material-icons">
        
    </md-icon>
    <md-button
        ng-click="$ctrl.setTab($ctrl.index.projects)"
        class="md-icon-button"
        ng-class="{'md-accent': $ctrl.currentTab($ctrl.index.projects)}">
        <md-icon class="material-icons">
            settings
        </md-icon>
        <md-tooltip md-direction="right">
            settings
        </md-tooltip>
    </md-button>
</md-toolbar>