<md-menu 
  md-position-mode="target-right target">
  <md-icon 
    aria-label="add tags" 
    ng-click="$ctrl.openTagMenu($mdOpenMenu, $event)"
    md-menu-origin 
    class="menu-button material-icons">label</md-icon>
  <md-menu-content 
    class="tag-menu"
    width="2">
    <md-menu-item
      ng-show="!$ctrl.tagTypesByGroup.length">
      <p>You have no tags.</p>
    </md-menu-item>
    <md-menu-item
      ng-show="$ctrl.tagTypesByGroup.length">
      <input 
        ng-model="$ctrl.search"
        type="search"
        placeholder="Search.."
        class="tag-search">
    </md-menu-item>
      <p
        ng-repeat-start="group in $ctrl.tagTypesByGroup"
        class="tag-group"
        ng-if="$ctrl.showGroupName(group)"
        ng-bind="group.name">
      </p>
      <md-menu-item
        ng-repeat-end
        ng-repeat="tagType in group.tag_types | filter:$ctrl.search">
        <md-button
          layout="row"
          layout-align="start center"
          ng-click="$ctrl.toggleTag(tagType.id)"
          md-prevent-menu-close="md-prevent-menu-close">
            <tag [tag]="tagType"></tag>
            <span flex></span>
            <md-checkbox 
              md-prevent-menu-close="md-prevent-menu-close"
              ng-model="$ctrl.formData.tagTypes[tagType.id]"
              aria-label="select tag"
              ng-true-value="true"
              ng-false-value="false">
            </md-checkbox>
        </md-button>
      </md-menu-item>
  </md-menu-content>
</md-menu>