.spec {
    
    .spec-info {
        flex-wrap: wrap;
    }
    
    .tags {
        flex-wrap: wrap;
    }
    
    .dragged {
        .mouseover-menu {
            display: none;
        }
    }
    .edit-input {
        padding: 0px;
        margin: 0px;
        
        .md-errors-spacer {
            display: none;
        }
    }
    
    .spec-description {
        margin-right: 20px;
    }
    
    .export-checkbox {
        margin: 0px 0px 0px 3px;
        padding: 2px 0px;
        
    }
    
}