<md-toolbar 
    md-colors="{background: 'default-primary-300'}"
    layout="column">
    <md-button
        ng-click="$ctrl.manageTags()"
        class="md-icon-button">
        <md-icon class="material-icons">
            label
        </md-icon>
        <md-tooltip md-direction="left">
            tags
        </md-tooltip>
    </md-button>
    <md-button
        ng-click="$ctrl.manageGroups()"
        class="md-icon-button">
        <md-icon class="material-icons">
            folder
        </md-icon>
        <md-tooltip md-direction="left">
            tag groups
        </md-tooltip>
    </md-button>
    <md-button
        ng-click="$ctrl.manageProjects()"
        class="md-icon-button">
        <md-icon class="material-icons">
            description
        </md-icon>
        <md-tooltip md-direction="left">
            projects
        </md-tooltip>
    </md-button>
</md-toolbar>