header-menu {
    z-index: 80;
    
    .org-select {
        font-size: 14px;
    }
    
    .logo {
        height: 45px;
        margin-left: 10px;
    }
    
    .md-avatar {
        margin-right: 0px;
    }
    
}

.org-menu {
    .selected-org {
        font-weight: bold;
    }
}