<md-toolbar md-whiteframe="5">
    <div
        layout="row"
        layout-align="center center"
        class="md-toolbar-tools">
        
        <img
            class="logo"
            src="assets/images/logo-light.png"/>
        <span flex></span>
        
        <md-menu
            ng-if="$ctrl.showOrgMenu()"
            md-position-mode="target-right target">
            <md-button 
                aria-label="org menu" 
                ng-click="$ctrl.openOrgMenu($mdOpenMenu, $event)">
                <md-icon class="material-icons">business</md-icon>
                {{$ctrl.org.name}}
                <md-icon class="material-icons">
                    arrow_drop_down
                </md-icon>
            </md-button>
            <md-menu-content class="org-menu" width="4">
                <md-menu-item
                    ng-repeat="org in $ctrl.organizations">
                    <md-button 
                        aria-label="change org"
                        ng-class="{'md-primary selected-org': org === $ctrl.org }"
                        ng-click="$ctrl.changeOrg(org)"
                        ng-bind="org.name">
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
        <md-menu
            md-position-mode="target-right target">
            <md-button 
                aria-label="user menu" 
                ng-click="$ctrl.openUserMenu($mdOpenMenu, $event)">
                <md-list-item>
                  <img ng-src="{{$ctrl.user.image}}" class="md-avatar" />
                </md-list-item>
                
            </md-button>
            <md-menu-content width="4">
                <md-menu-item>
                    <md-button ng-click="$ctrl.logout()">
                        <md-icon 
                            md-menu-align-target
                            class="material-icons">person_outline</md-icon>
                        <span>log out</span>
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
    
    </div>
</md-toolbar>