@import '../../../index.scss';

.tag {
    @extend .label;
    
    color: white;
    
    .name {
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 150px;
    }
    
    .close-button {
        font-size: 18px;
        margin-left: 12px;
    }
}