<div 
    class="tag"
    layout="row"
    flex='none'
    ng-style="{'background-color': $ctrl.tag.color ? '$ctrl.tag.color':'midnightblue'}"
    style="background-color: {{$ctrl.tag.color}}">
    <a 
        class="name"
        style="text-decoration: none; color: white"
        ng-bind="$ctrl.tag.name"
        ng-if="$ctrl.tag.url"
        ng-href="{{$ctrl.tag.url}}"
        target="_blank">
    </a>
    <div 
        ng-if="!$ctrl.tag.url"
        class="name" 
        ng-bind="$ctrl.tag.name"></div> 
    <a
        ng-click="$ctrl.removeTag()"
        ng-if="$ctrl.spec && $ctrl.spec.editing">
        <i class="close-button material-icons">close</i>
    </a>
</div>