<md-list layout-padding flex>
  <md-list-item>
      <h5 class="tab-title">Projects</h5>
      <md-button 
        aria-label="add project" 
        class="md-secondary md-icon-button"
        ng-click="$ctrl.addProject($event)">
        <md-icon class="material-icons">add</md-icon>
      </md-button>
  </md-list-item>
  <md-list-item 
    ng-repeat="project in $ctrl.projects"
    class="secondary-button-padding">
    <p ng-bind="project.name"></p>
    <md-button 
        class="md-secondary md-icon-button" 
        ng-click="$ctrl.editProject(project, $event)">
        <md-icon class="material-icons">
            edit
        </md-icon>
    </md-button>
  </md-list-item>
</md-list>