<div layout="column" class="sidebar-tab" flex layout-fill>
  <div layout="column" flex class="sidebar-content" layout-fill> 
    <md-subheader class="md-no-sticky">
      <p class="md-body-2">
      <md-icon class="material-icons">
            description
        </md-icon>
        Projects
      </p>
    </md-subheader>
    <md-list layout-padding flex class="md-dense">
      <md-list-item 
        ng-mouseenter="project.userMouseover=true"
        ng-mouseleave="project.userMouseover=false"
        ng-repeat="project in $ctrl.projects"
        aria-label="edit project"
        ng-click="$ctrl.parent.canWrite ? $ctrl.editProject(project, $event) : undefined">
        <p 
          class="truncate"
          ng-bind="project.name"></p>
        
        <md-icon 
          ng-if="$ctrl.parent.canWrite"
          ng-style="{'visibility': project.userMouseover?'visible':'hidden'}"
          class="material-icons md-secondary">
          edit
        </md-icon>
      </md-list-item>
    </md-list>
  </div>
  <div layout="column" flex='10' layout-align="center stretch">
    <md-button 
      ng-if="$ctrl.parent.canWrite"
      aria-label="add project" 
      class="md-raised md-primary add-button"
      ng-click="$ctrl.addProject($event)">
      add project
      <md-icon class="material-icons md-secondary">add</md-icon>
    </md-button>
  </div>
</div>