<md-menu md-position-mode="target-right target">
  <md-icon 
    aria-label="spec menu" 
    ng-click="$ctrl.openSpecMenu($mdOpenMenu, $event)"
    md-menu-origin 
    class="material-icons">
    more_vert</md-icon>
  <md-menu-content width='3'>
    <md-menu-item ng-if="$ctrl.canWrite">
      <md-button ng-click="$ctrl.addTags($event)">
        <md-icon class='material-icons'>label</md-icon>
        tags
      </md-button>
    </md-menu-item>
    <md-menu-item ng-if="$ctrl.canWrite">
      <md-button ng-click="$ctrl.addChildren($event)">
        <md-icon class='material-icons'>add</md-icon>
        add children
      </md-button>
    </md-menu-item>
    <md-menu-item ng-if="$ctrl.canWrite">
      <md-button ng-click="$ctrl.addTicket($event)">
        <md-icon class='material-icons'>link</md-icon>
        add link
      </md-button>
    </md-menu-item>
    <md-menu-item>
      <md-button ng-click="$ctrl.comment($event)">
        <md-icon class='material-icons'>comment</md-icon>
        comment
      </md-button>
    </md-menu-item>
    <md-menu-item>
      <md-button ng-click="$ctrl.setBreadCrumbs()">
        <md-icon class='material-icons'>fullscreen</md-icon>
        expand
      </md-button>
    </md-menu-item>
    <md-menu-item ng-if="$ctrl.canWrite">
      <md-button 
        ng-if="!$ctrl.spec.bookmarked"
        ng-click="$ctrl.bookmark()">
        <md-icon class='material-icons'>bookmark_border</md-icon>
          bookmark
      </md-button>
      <md-button 
        ng-if="$ctrl.spec.bookmarked"
        ng-click="$ctrl.bookmark()">
        <md-icon class='material-icons'>bookmark</md-icon>
          unbookmark
      </md-button>
    </md-menu-item>
    <md-menu-item ng-if="$ctrl.canWrite">
      <md-button ng-click="$ctrl.delete($event)">
        <md-icon class='material-icons'>delete</md-icon>
        delete
      </md-button>
    </md-menu-item>
  </md-menu-content>
</md-menu>