/**
 *  Do not remove the comment below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower




/**
 *  Do not remove the comment below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector

.truncate {
    text-overflow: ellipsis;
    overflow: hidden;
}

.all-caps {
    text-transform: uppercase;
}

body {
    overflow: hidden;
}

.label {
    padding: 1px 5px;
    margin: 0px 2px;
    border-radius: 2px;
    max-height: 20px;
    line-height: 20px;
    font-size: smaller;
    text-transform: uppercase;
}