<jd-modal layout="column">
    <jd-modal-title>add specs</jd-modal-title>
    <jd-modal-body layout="column" layout-padding>
        <md-input-container
            ng-if="!$ctrl.spec"
            class="md-block">
            <label>Project</label>
            <md-select 
                ng-cloak
                class="project-select"
                ng-model="$ctrl.formData.project"
                aria-label="projects">
                <md-option ng-repeat="project in $ctrl.projects" value={{project.id}}>
                    {{project.name}}
                </md-option>
            </md-select>
        </md-input-container>
        <md-input-container 
            class="md-block"
             ng-if="$ctrl.spec">
            <label>Parent</label>
            <input ng-model="$ctrl.spec.description" disabled>
        </md-input-container>
        <md-button 
          class="md-icon-button" 
          aria-label="indent"
          ng-click="$ctrl.indent()">
          <md-icon class="material-icons">format_indent_increase</md-icon>
        </md-button>
        <md-input-container
            class="edit-input md-block">
            <textarea
                aria-label="mass add specs"
                rows="5"
                ng-model="$ctrl.text"></textarea>
        </md-input-container>
    </jd-modal-body>
    <jd-modal-buttons>
        
        <span flex></span>
        <md-button
            ng-click="$ctrl.add()"
            class="md-raised md-accent">
            <md-icon
                class="material-icons">add</md-icon>
            add specs
        </md-button>
    </jd-modal-buttons>
</jd-modal>