<md-list layout-padding flex class="md-dense">
  <md-list-item>
      <h5 class="tab-title">Bookmarks</h5>
  </md-list-item>
  <md-list-item 
    ng-repeat="bookmark in $ctrl.bookmarks"
    ng-click="$ctrl.setBreadcrumbs(bookmark)"
    aria-label="set breadcrumbs">
    <md-icon class="material-icons">bookmark</md-icon>
    <p 
        ng-bind="bookmark.description"></p>
  </md-list-item>
  <md-list-item
      ng-if="!$ctrl.bookmarks.length">
      You have no bookmarks.
  </md-list-item>
</md-list>