<breadcrumbs></breadcrumbs>
<section 
    flex
    layout="column" 
    layout-padding
    ng-if="$ctrl.spec.length">
    <a id="top"></a>
    
    
    <div ui-tree="$ctrl.treeOpts"
        data-drag-delay='300'
       id="tree-root"
       flex>
    <ol ui-tree-nodes ng-model="$ctrl.spec">
      <li ng-repeat="spec in $ctrl.spec track by spec.data.id" ui-tree-node>
        <spec 
            spec="spec" 
            ui-tree-callbacks="::$callbacks"></spec>
      </li>
    </ol>
    <a id="bottom"></a>
</section>
<section
    layout="row"
    flex
    layout-align="center start"
    ng-if="!$ctrl.spec.length"
    layout-padding>
    <p>
        There are no specs that meet the filter criteria.
    </p> 
</section>
