<sidebar-menu
    layout="row"></sidebar-menu>
<md-content
    class="sidebar-container"
    ng-cloak
    md-colors="{background:'grey-200'}"
    layout="column" 
    flex>
    <filter 
        ng-show="$ctrl.currentTab($ctrl.index.filter)"
        layout="column" layout-fill></filter>
    <bookmarks 
        ng-show="$ctrl.currentTab($ctrl.index.bookmarks)"
        layout="column" layout-fill></bookmarks>
    <tag-types 
        ng-show="$ctrl.currentTab($ctrl.index.tags)"
        layout="column" layout-fill></tag-types>
    <groups 
        ng-show="$ctrl.currentTab($ctrl.index.groups)"
        layout="column" layout-fill></groups>
    <projects 
        ng-show="$ctrl.currentTab($ctrl.index.projects)"
        layout="column" layout-fill></projects>
    <users 
        ng-show="$ctrl.currentTab($ctrl.index.users)"
        layout="column" layout-fill></users>
    <user-settings
        ng-show="$ctrl.currentTab($ctrl.index.userSettings)"
        layout="column" layout-fill></user-settings>
    <org-settings
        ng-show="$ctrl.currentTab($ctrl.index.orgSettings)"
        layout="column" layout-fill></org-settings>
</md-content>
    