@import '~angular-material/angular-material.scss';

.truncate {
    text-overflow: ellipsis;
    overflow: hidden;
}

.all-caps {
    text-transform: uppercase;
}

.invisible {
    display: none;
}

body {
    overflow: hidden;
    
     &.dragging, &.dragging * {
      cursor: move !important;
    }
}

.label {
    padding: 1px 5px;
    margin: 0px 2px;
    border-radius: 2px;
    max-height: 20px;
    line-height: 20px;
    font-size: smaller;
    text-transform: uppercase;
}

.hint {
    /* Position the hint */
    position: absolute;
    left: 2px;
    right: auto;
    bottom: 7px;
    /* Copy styles from ng-messages */
    font-size: 12px;
    line-height: 14px;
    transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
    /* Set our own color */
    color: grey; 
}

md-tooltip {
    font-size: 16px !important;
}

.introjs-tooltip {
    max-width: 500px;
    
    .usage {
        width: 400px;
    }
    
    .md-headline {
        &.welcome {
            text-align: center;
            font-weight: bold;
        }
        color: #673AB7;
    }
    
    md-content {
        background-color: white;
    }
    
    .introjs-skipbutton, .introjs-prevbutton, .introjs-hidden {
        display: none;
    }
    
    .introjs-button {
        @extend .md-button;
        @extend .md-raised;
        
        background-color: #673AB7;
        color: white;
        text-shadow: none;
    }
    
    border-radius: 0px;
}