<h4 class="tab-title">user settings</h4>

<md-subheader
    layout="row"
    ng-click="$ctrl.menuFavorites = !$ctrl.menuFavorites">
    <span>menu favorites</span>
    <md-icon 
        ng-if="!$ctrl.menuFavorites"
        class="material-icons">expand_more</md-icon>
    <md-icon 
        ng-if="$ctrl.menuFavorites"
        class="material-icons">expand_less</md-icon>
</md-subheader>
<md-list 
    ng-show="$ctrl.menuFavorites"
    class="md-dense">
    <md-list-item
        ng-click="$ctrl.toggleFavorite(item)"
        ng-repeat="item in $ctrl.menuOptions">
        <md-icon class="material-icons">{{::item.icon}}</md-icon>
        <p ng-bind="::item.name"></p>
        <md-icon 
            class="md-secondary material-icons"
            ng-if="$ctrl.favorite(item)">star</md-icon>
        <md-icon 
            class="md-secondary material-icons"
            ng-if="!$ctrl.favorite(item)">star_outline</md-icon>
    </md-list-item>
</md-list>