<md-list layout-padding flex>
  <md-list-item>
      <h4 class="tab-title">Users</h4>
      <md-button 
        aria-label="invite user" 
        class="md-secondary md-icon-button"
        ng-click="$ctrl.inviteUser($event)">
        <md-icon class="material-icons">add</md-icon>
      </md-button>
  </md-list-item>
  <md-list-item 
    ng-mouseenter="user.userMouseover=true"
    ng-mouseleave="user.userMouseover=false"
    ng-click="$ctrl.viewUserInfo()"
    ng-repeat="user in $ctrl.users">
    <p 
      class="truncate"
      ng-bind="user.name"></p>
    
    <md-icon 
      ng-if="$ctrl.showDeleteUser(user)"
      ng-style="{'visibility': user.userMouseover?'visible':'hidden'}"
      aria-label="delete user"
      class="material-icons md-secondary"
      ng-click="$ctrl.deleteUser(user, $event)">
      delete
    </md-icon>
  </md-list-item>
</md-list>