.login {
    md-input-container {
        width: 100%;
    }
    
    .md-headline {
        text-align: center;
        font-weight: bold;
        color: #673AB7;
    }
    
    .google-login {
    }
}