<div class="login"
    layout="column"
    layout-align="center center">
    <md-content 
        layout="column"
        layout-align="center center"
        layout-padding>
        <md-card flex='60'>
            <md-card-title>
                <img
                    src="assets/images/logo-square.svg"/>
            </md-card-title>
            <md-button 
                md-colors="{background: 'red'}"
                class="md-raised google-login"
                ng-click="$ctrl.googleLogin()">
                log in with google
            </md-button>
        </md-card>
        
    </md-content>
</div>