<jd-modal layout="column" class="comments">
    <jd-modal-title>comments</jd-modal-title>
    <jd-modal-body layout="column">
        <md-list
            ng-if="$ctrl.hasComments()">
            <md-subheader
                ng-if="$ctrl.spec.grouped_comments_json.false.length">
                Unresolved</md-subheader>
            <md-list-item 
                ng-repeat="comment in $ctrl.spec.grouped_comments_json.false"
                class="md-2-line md-long-text">
                <md-icon 
                    ng-if="!comment.user.image"
                    class="no-image material icons md-avatar">
                    account_circle</md-icon>
                <img 
                    ng-if="comment.user.image"
                    ng-src="{{comment.user.image}}" class="md-avatar"/>
                <div class="md-list-item-text">
                    <h3 ng-bind="comment.text"></h3>
                    <p>{{comment.user.name}} at {{$ctrl.formatTime(comment)}}</p>
                    
                    <md-icon 
                        class="md-secondary material-icons" 
                        ng-click="$ctrl.resolve(comment)" 
                        aria-label="resolve">
                        done
                    </md-icon>
                </div>
            </md-list-item>
            <md-subheader
                ng-if="$ctrl.spec.grouped_comments_json.true.length">Resolved</md-subheader>
            <md-list-item 
                ng-repeat="comment in $ctrl.spec.grouped_comments_json.true"
                class="md-2-line md-long-text">
                <md-icon 
                    ng-if="!comment.user.image"
                    class="no-image material icons md-avatar">
                    account_circle</md-icon>
                <img 
                    ng-if="comment.user.image"
                    ng-src="{{comment.user.image}}" class="md-avatar"/>
                <div class="md-list-item-text">
                    <h3 ng-bind="comment.text"></h3>
                    <p>{{comment.user.name}} at {{$ctrl.formatTime(comment)}}</p>
                </div>
            </md-list-item>
        </md-list>
        <p
            class="no-comments"
            ng-if="!$ctrl.hasComments()" flex>
            This spec has no comments.
        </p>
    </jd-modal-body>
    <jd-modal-buttons>
        <form ng-submit="$ctrl.add()">
            <md-input-container>
                <input 
                    class="add-comment-input"
                    ng-model="$ctrl.text"/>
            </md-input-container>
            <span flex></span>
            <md-button
                type="submit"
                ng-disabled="$ctrl.disableSave()"
                aria-label="add tag group"
                class="md-raised md-accent">
                <md-icon
                    class="material-icons">send</md-icon>
                comment
            </md-button>
        </form>
    </jd-modal-buttons>
</jd-modal>