.comments {
    .md-errors-spacer{
        display: none;
    }
    
    .add-comment-input {
        min-width: 500px;
    }
    
    .no-image {
        font-size: 40px;
    }
    
    .no-comments {
        text-align: center;
    }
}