spec {
    .angular-ui-tree-handle {
        cursor: default;
        font-weight: normal;
        
        &:focus {
            outline: none;
        }
    }
    
    .menu {
        padding-right: 20px;
    }
    
    .edit-input {
        padding: 0px;
        margin: 0px;
        
        .md-errors-spacer {
            display: none;
        }
    }
    
    .spec-description {
        margin-right: 20px;
    }
    
    .export-checkbox {
        margin: 0px 0px 0px 42px;
        padding: 2px 0px;
        
    }
    
}