<div id="{{$ctrl.spec.id}}" layout="column">
  <div 
    layout="row"
    ng-mouseenter="$ctrl.toggleMouseover()"
    ng-mouseleave="$ctrl.spec.userMouseover=false"
    class="spec">
    
    <md-checkbox
        ng-if="$ctrl.parent.export"
        class="export-checkbox menu"
        aria-label="export spec"
        ng-model="$ctrl.spec.exported"
        ng-change="$ctrl.toggleExport()">
    </md-checkbox>
    
    <div
      class="menu"
      flex='none'
      ng-if="!$ctrl.parent.export"
      ng-style="{'visibility': $ctrl.spec.userMouseover?'visible':'hidden'}">
        
        <spec-menu
          spec="::$ctrl.spec"></spec-menu>
       
        <tag-menu 
          spec="::$ctrl.spec"
          tags="::$ctrl.tags"></tag-menu>
    </div>
     <div
      layout-wrap
      id="edit_{{::$ctrl.spec.id}}"
      click-outside="::$ctrl.clickOutside()"
      ng-dblClick="::$ctrl.edit()"
      layout="row"
      layout-align="start center"
      ui-tree-handle>
        <div
          class="spec-description"
          ng-if="!$ctrl.spec.editing"
          ng-bind="::$ctrl.spec.description"></div>
        <div 
          layout="row"
          ng-if="$ctrl.spec.editing">
          <input
            type="text"
            pu-elastic-input
            pu-elastic-input-maxwidth="1300px"
            focus-if="$ctrl.spec.editing"
            aria-label="edit spec description"
            ng-model="$ctrl.editingCopy.description"
            ng-keypress="$ctrl.enter($event)"
            required />
          <md-button 
            ng-click="::$ctrl.undoEdit()"
            class="md-icon-button">
            <md-icon class="material-icons">
              undo
            </md-icon>
          </md-button>
        </div>
        <tag
          layout="row"
          ng-repeat="tag in $ctrl.tags"
          spec="$ctrl.spec"
          tag="$ctrl.getTagObject(tag)"></tag>
    </div>
  </div>
    
    <ol ui-tree-nodes ng-model="$ctrl.spec.children">
        <li ng-repeat="child in $ctrl.spec.children track by child.id" ui-tree-node>
            <spec 
                spec='::child' 
                ui-tree-callbacks="::$callbacks"
                tag="::$ctrl.parent.getTags(child)"
                ticket="::$ctrl.parent.getTickets(child)"></spec>
        </li>
    </ol>
</div>