<div id="{{$ctrl.spec.id}}" layout="column">
  <div 
    layout="row"
    ng-if="!$ctrl.spec.showEditButtons"
    ng-mouseenter="$ctrl.spec.userMouseover=true"
    ng-mouseleave="$ctrl.spec.userMouseover=false"
    class="spec">
    
    <md-checkbox
        ng-if="$ctrl.parent.export"
        class="export"
        aria-label="export spec"
        ng-model="$ctrl.spec.exported"
        ng-change="$ctrl.toggleExport()">
    </md-checkbox>
    
    <div
      class="menu"
      ng-if="!$ctrl.parent.export"
      ng-style="{'visibility': $ctrl.spec.userMouseover?'visible':'hidden'}">
        
        <spec-menu
          spec="$ctrl.spec"></spec-menu>
       
        <tag-menu 
          spec="$ctrl.spec"
          tags="$ctrl.tag"></tag-menu>
    </div>
     <div
      layout="row"
      ui-tree-handle>
        {{::$ctrl.spec.description}}
        <tickets 
          tickets="$ctrl.ticket" 
          spec="$ctrl.spec"
          class="read-only-tags"></tickets>
        <tag
          layout="row"
          ng-repeat="tag in $ctrl.tag"
          tag="tag.tag_type"></tag>
    </div>
  </div>
    
    <ol ui-tree-nodes="" ng-model="$ctrl.spec.children">
        <li ng-repeat="child in $ctrl.spec.children track by child.id" ui-tree-node>
            <spec 
                spec='::child' 
                ui-tree-callbacks="::$callbacks"
                tag="::$ctrl.parent.getTags(child)"
                ticket="::$ctrl.parent.getTickets(child)"></spec>
        </li>
        <li
          ng-if="$ctrl.spec.addChildren"
          id="addChildren">
          <add-spec
            spec="$ctrl.spec"></add-spec>
        </li>
    </ol>
</div>