sidebar-menu {
    .icon-header {
        margin-top: 30px;
        margin-bottom: 5px;
        color: darkgrey !important;
    }
    
    .big-icon {
        font-size: 36px;
        height: 36px;
        width: 36px;
    }
    
    .md-button {
        width: 54px !important;
        height: 54px !important;
    }
    
    z-index: 79;
}