<md-toolbar 
    md-colors="{background: 'default-primary-300'}"
    layout="column"
    md-whiteframe="5">
    <md-button
        ng-click="$ctrl.setTab($ctrl.index.filter)"
        class="md-icon-button"
        ng-class="{'md-accent': $ctrl.currentTab($ctrl.index.filter)}">
        <md-icon class="big-icon material-icons">
            filter_list
        </md-icon>
        <md-tooltip md-direction="right">
            filter
        </md-tooltip>
    </md-button>
    <md-button
        ng-click="$ctrl.setTab($ctrl.index.bookmarks)"
        class="md-icon-button"
        ng-class="{'md-accent': $ctrl.currentTab($ctrl.index.bookmarks)}">
        <md-icon class="big-icon material-icons">
            bookmark
        </md-icon>
        <md-tooltip md-direction="right">
            bookmarks
        </md-tooltip>
    </md-button>
    <md-icon 
        class="icon-header material-icons">
        build
    </md-icon>
    <md-button
        ng-click="$ctrl.setTab($ctrl.index.tags)"
        class="md-icon-button"
        ng-class="{'md-accent': $ctrl.currentTab($ctrl.index.tags)}">
        <md-icon class="big-icon material-icons">
            label
        </md-icon>
        <md-tooltip md-direction="right">
            tags
        </md-tooltip>
    </md-button>
    <md-button
        ng-click="$ctrl.setTab($ctrl.index.groups)"
        class="md-icon-button"
        ng-class="{'md-accent': $ctrl.currentTab($ctrl.index.groups)}">
        <md-icon class="big-icon material-icons">
            folder
        </md-icon>
        <md-tooltip md-direction="right">
            tag groups
        </md-tooltip>
    </md-button>
    <md-button
        ng-click="$ctrl.setTab($ctrl.index.projects)"
        class="md-icon-button"
        ng-class="{'md-accent': $ctrl.currentTab($ctrl.index.projects)}">
        <md-icon class="big-icon material-icons">
            description
        </md-icon>
        <md-tooltip md-direction="right">
            projects
        </md-tooltip>
    </md-button>
    <md-icon 
        ng-if="$ctrl.showOrgMenus()"
        class="icon-header material-icons">
        business
    </md-icon>
    <md-button
        ng-if="$ctrl.showOrgMenus()"
        ng-click="$ctrl.setTab($ctrl.index.users)"
        class="md-icon-button"
        ng-class="{'md-accent': $ctrl.currentTab($ctrl.index.users)}">
        <md-icon class="big-icon material-icons">
            supervisor_account
        </md-icon>
        <md-tooltip md-direction="right">
            users
        </md-tooltip>
    </md-button>
    
    <span flex></span>
        
    <md-icon 
        class="icon-header material-icons">
        settings
    </md-icon>
    <md-button
        ng-click="$ctrl.setTab($ctrl.index.userSettings)"
        class="md-icon-button"
        ng-class="{'md-accent': $ctrl.currentTab($ctrl.index.userSettings)}">
        <md-icon class="big-icon material-icons">
            account_circle
        </md-icon>
        <md-tooltip md-direction="right">
            user settings
        </md-tooltip>
    </md-button>
    <md-button
        ng-if="$ctrl.showOrgSettings()"
        ng-click="$ctrl.setTab($ctrl.index.orgSettings)"
        class="md-icon-button"
        ng-class="{'md-accent': $ctrl.currentTab($ctrl.index.orgSettings)}">
        <md-icon class="big-icon material-icons">
            business
        </md-icon>
        <md-tooltip md-direction="right">
            organization settings
        </md-tooltip>
    </md-button>
</md-toolbar>