<form id="tag-form">
    
    <md-list
        class="md-dense">
        
        <md-list-item
            layout="column"
            layout-align="center center"
            layout-padding
            flex='90'>
            <md-input-container
                style="width: 100%"
                layout="column"
                flex
                class="md-block project-select" ng-cloak>
                <label>Project</label>
                <md-select
                    flex
                    ng-if="$ctrl.formData.project"
                    ng-model-options="{trackBy: '$value.id'}"
                    ng-change="$ctrl.changeProject()" 
                    ng-model="$ctrl.formData.project"
                    aria-label="projects">
                    <md-option 
                        ng-repeat="project in $ctrl.projects" 
                        ng-value="project">
                        {{project.name}}
                    </md-option>
                </md-select>
            </md-input-container>
        </md-list-item>
        
        <md-list-item
            aria-label="select comments"
            ng-click="::$ctrl.toggleCommented()"
            class="very-dense">
            <tag tag="{name: 'open comments', color: 'rgb(0,184,212)'}"></tag>
            <md-checkbox 
                class="md-secondary"
                ng-change="::$ctrl.toggleCommented(true)" 
                ng-model="$ctrl.formData.commented"
                aria-label="commented">
            </md-checkbox>
        </md-list-item>
        
        <md-list-item
            aria-label="select ticketed"
            ng-click="::$ctrl.toggleTicketed()"
            class="very-dense ticket">
            <tag tag="{name: 'ticketed'}"></tag>
            <md-checkbox 
                class="md-secondary"
                ng-change="::$ctrl.toggleTicketed(true)" 
                ng-model="$ctrl.formData.ticketed"
                aria-label="ticketed">
            </md-checkbox>
        </md-list-item>
        
        <div ng-repeat="tag_type_group in $ctrl.tag_type_groups">
            <md-subheader 
                layout-align="end center"
                class="tag-group-name tab-title truncate" 
                ng-if="tag_type_group.name"
                ng-bind="tag_type_group.name"></md-subheader>
                
            <md-list-item 
                class="very-dense" 
                aria-label="select tag"
                ng-click="$ctrl.toggle(tag_type.id)"
                ng-repeat="tag_type in tag_type_group.tag_types" 
                style="color: {{tag_type.color}}">
                <tag tag="tag_type"></tag>
                <md-checkbox 
                    class="md-secondary"
                    ng-change="$ctrl.toggle(tag_type.id)" 
                    ng-model="$ctrl.formData.tag_types[tag_type.id]" 
                    aria-label="select tag"
                    ng-true-value="true"
                    ng-false-value="false"></md-checkbox>
            </md-list-item>
        </div>
        
    </md-list>
    
</form>
    