tag {
    color: white;
    
    .tag {
        padding: 1px 5px;
        margin: 0px 2px;
        border-radius: 2px;
        max-height: 20px;
        line-height: 20px;
        font-size: smaller;
        text-transform: uppercase;
        
        .name {
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 150px;
        }
        
        .close-button {
            font-size: 18px;
            margin-left: 12px;
        }
    }
}