<div layout="column" class="sidebar-tab">
  <md-list 
    class="md-dense"
    layout-padding flex>
    <section ng-repeat="tag_type_group in $ctrl.tagTypes">
      <md-subheader 
        layout="row"
        layout-align="end center"
        class="tab-title"
        ng-if="!tag_type_group.name">
        ungrouped
      </md-subheader>
      <md-subheader 
        layout="row"
        layout-align="end center"
        class="tab-title"
        ng-if="tag_type_group.name"
        ng-bind="tag_type_group.name">
      </md-subheader>
      <md-list-item 
        ng-repeat="tag_type in tag_type_group.tag_types"
        ng-mouseenter="tag_type.userMouseover=true"
        ng-mouseleave="tag_type.userMouseover=false"
        ng-click="$ctrl.edit(tag_type, $event)">
        <tag tag="tag_type"></tag>
        <md-icon 
          ng-if="$ctrl.parent.canWrite"
          ng-style="{'visibility': tag_type.userMouseover?'visible':'hidden'}"
          aria-label="delete tag type"
          class="material-icons md-secondary"
          ng-click="$ctrl.delete(tag_type)">
          delete
        </md-icon>
      </md-list-item>
    </section>
    <section
      ng-if="$ctrl.deleted.length">
      <md-subheader 
        layout="row"
        layout-align="end center"
        class="tab-title">
        deleted
      </md-subheader>
      <md-list-item 
        ng-repeat="tag_type in $ctrl.deleted">
        <tag tag="tag_type"></tag>
        <md-icon 
            aria-label="restore tag type"
            class="material-icons md-secondary"
            ng-click="$ctrl.restore(tag_type)">
            restore
        </md-icon>
      </md-list-item>
    </section>
    
    <md-list-item
      ng-if="!$ctrl.tagTypes.length">
      <p class="no-items">You have no tag types.</p>
    </md-list-item>
  </md-list>
  <md-button 
    class="md-primary md-raised"
    ng-if="$ctrl.parent.canWrite"
    aria-label="add tag type" 
    ng-click="$ctrl.add($event)">
    add tag type
    <md-icon class="material-icons md-secondary">add</md-icon>
  </md-button>
</div>