<md-list 
  class="md-dense"
  layout-padding flex>
  <md-list-item>
      <h5 class="tab-title">tag types</h5>
      <md-button 
        aria-label="add tag type" 
        class="md-secondary md-icon-button"
        ng-click="$ctrl.add($event)">
        <md-icon class="material-icons">add</md-icon>
      </md-button>
  </md-list-item>
  
  <section ng-repeat="tag_type_group in $ctrl.tagTypes">
    
    <md-subheader 
      layout="row"
      layout-align="end center"
      class="tab-title"
      ng-if="tag_type_group.name"
      md-colors="{background: 'default-primary-100'}"
      ng-bind="tag_type_group.name">
    </md-subheader>
    <md-list-item ng-repeat="tag_type in tag_type_group.tag_types">
        <tag tag="tag_type"></tag>
        <span flex></span>
        <md-icon 
          aria-label="edit tag type"
          class="material-icons md-secondary"
          ng-click="$ctrl.edit(tagType, $event)">
          edit
      </md-icon>
      <md-icon 
          aria-label="delete tag type"
          class="material-icons md-secondary"
          ng-click="$ctrl.delete(tagType, $event)">
          delete
      </md-icon>
    </md-list-item>
  </section>
  
  
  
  
  <md-list-item
    ng-if="!$ctrl.tagTypes">
      You have no tag types
  </md-list-item>
</md-list>