<div 
  style="overflow: hidden"
  ng-intro-autorefresh="true"
  ng-intro-onchange="$ctrl.reloadIntroElems"
  ng-intro-onexit="$ctrl.toggleIntroOff"
  ng-intro-options="$ctrl.introOptions"
  ng-intro-method="$ctrl.startTour"
  ng-intro-autostart="false"
  layout="column" layout-fill>
<header-menu></header-menu>
  <md-content layout="row" flex ng-cloak>
      <sidebar layout="row"></sidebar>
      <specs 
          layout="column" 
          flex
          ng-cloak></specs>
  </md-content>
  <fab ng-cloak></fab>
  <spinner 
    show="true"
    class="loading"
    name="spinner">
    <md-progress-circular 
      md-diameter="96"
      md-mode="indeterminate"></md-progress-circular>
  </spinner>
</div>