<md-list layout-padding flex>
  <md-list-item>
      <h5 class="tab-title">Tag Groups</h5>
      <md-button 
        ng-if="$ctrl.parent.canWrite"
        aria-label="add tag group" 
        class="md-secondary md-icon-button"
        ng-click="$ctrl.add($event)">
        <md-icon class="material-icons">add</md-icon>
      </md-button>
  </md-list-item>
  <md-list-item 
    ng-repeat="group in $ctrl.groups"
    ng-click="$ctrl.edit(group, $event)">
    <p 
        class="truncate"
        ng-bind="group.name"
        style="color: {{group.color}}"></p>
    <md-icon 
        ng-if="$ctrl.parent.canWrite"
        aria-label="delete tag group"
        class="material-icons md-secondary"
        ng-click="$ctrl.delete(group)">
        delete
    </md-icon>
  </md-list-item>
  <md-list-item
      ng-if="!$ctrl.groups.length">
      You have no tag groups.
  </md-list-item>
</md-list>