<jd-modal layout="column" class="tags-modal">
    <jd-modal-title>tags</jd-modal-title>
    <jd-modal-body layout="column">
        <p class="no-tags"
            ng-if="!$ctrl.tagTypesByGroup.length">
            You have no tags.
        </p>
        <md-list
            ng-if="$ctrl.tagTypesByGroup.length"
            ng-repeat="group in $ctrl.tagTypesByGroup">
            <p class="tag-group"
                ng-if="$ctrl.showGroupName(group)"
                ng-bind="group.name">
            </p>
            <md-list-item
                ng-repeat="tagType in group.tag_types | filter:$ctrl.search"
                ng-click="$ctrl.toggleTag(tagType.id)"
                aria-label="toggle tag">
                    <tag tag="tagType"></tag>
                    <md-checkbox 
                      ng-click="$ctrl.toggleTag(tagType.id)"
                      class="md-secondary"
                      ng-model="$ctrl.formData.tagTypes[tagType.id]"
                      aria-label="select tag"
                      ng-true-value="true"
                      ng-false-value="false">
                    </md-checkbox>
            </md-list-item>
        </md-list>
    </jd-modal-body>
    <jd-modal-buttons>
    </jd-modal-buttons>
</jd-modal>