<div layout="column"
    class="usage"
    layout-align="center center">
    <md-content 
        layout="column"
        layout-align="center center"
        layout-padding>
       
            <span class="md-headline">you can use jessdocs to...</span>
            
            <ul>
                <li>organize your test cases into suites</li>
                <li>tag and filter your test cases</li>
                <li>link cases to issues in an issue tracker</li>
                <li>generate a code skeleton for automation of selected test cases</li>
            </ul>
        
    </md-content>
</div>