<jd-modal layout="column" class="comments">
    <jd-modal-title>comments</jd-modal-title>
    <jd-modal-body layout="column" layout-padding>
        <md-list>
            <md-list-item 
                ng-repeat="comment in $ctrl.spec.comments"
                class="md-2-line md-long-text">
                <img ng-src="{{comment.user.image}}" class="md-avatar"/>
                <div class="md-list-item-text">
                    <h3>{{ comment.user.name }}</h3>
                    <p ng-bind="comment.text"></p>
                </div>
            </md-list-item>
        </md-list>
       <p ng-if="!$ctrl.spec.comments.length">
           This spec has no comments.
       </p>
    </jd-modal-body>
    <jd-modal-buttons>
        <md-input-container>
            <input 
                class="add-comment-input"
                ng-model="$ctrl.text"/>
        </md-input-container>
        <span flex></span>
        <md-button
            ng-disabled="$ctrl.disableSave()"
            aria-label="add tag group"
            ng-click="$ctrl.add()"
            class="md-raised md-accent">
            <md-icon
                class="material-icons">send</md-icon>
            comment
        </md-button>
    </jd-modal-buttons>
</jd-modal>